html {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: black;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.375;
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  min-height: 100vh;
  position: relative;
  float: left;
  font-size: 16px;
  background: white;
}

@font-face{
font-family: "EBG";
src: url("fonts/EB_Garamond0.woff2") format("WOFF");
}

@import url('https://fonts.googleapis.com/css?family=Cardo');
